<div id="botones" class="btn-group dropup">
    <button type="button" (click)="clickeo()" class="btn btn-outline-dark"></button>
    <button *ngIf="clickeado" type="button" (click)="logeoPaciente1()" class="btn btn-outline-dark">Paci</button>
    <button *ngIf="clickeado" type="button" (click)="logeoPaciente2()" class="btn btn-outline-dark">Paci</button>
    <button *ngIf="clickeado" type="button" (click)="logeoEspecialista1()" class="btn btn-outline-dark">Espe</button>
    <button *ngIf="clickeado" type="button" (click)="logeoEspecialista2()" class="btn btn-outline-dark">Espe</button>
    <button *ngIf="clickeado" type="button" (click)="logeoAdmin()" class="btn btn-outline-dark">Admin</button>
</div>
