<div class="container">
    <div class="row g-4 py-3 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
          <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
          </div>
          <div>
            <button type="button" class="btn btn-success" routerLink='../register/paciente'>+ Administrador</button>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
          </div>
          <div>
            <button type="button" class="btn btn-success" routerLink='../register/paciente'>+ Paciente</button>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
          </div>
          <div>
            <button type="button" class="btn btn-success" routerLink='../register/especialista'>+ Especialista</button>
          </div>
        </div>
    </div>
</div>