<div class="container">
    <div class="row g-3 py-3 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
          <div>
            <button type="button" class="btn btn-success" routerLink='../register/administrador'>+ Administrador</button>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div>
            <button type="button" class="btn btn-success" routerLink='../register/paciente'>+ Paciente</button>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div>
            <button type="button" class="btn btn-success" routerLink='../register/especialista'>+ Especialista</button>
          </div>
        </div>
    </div>
</div>