<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Estado Actual</th>
        <th scope="col">Especialista</th>
        <th scope="col">Fecha</th>
        <th scope="col">Hora</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let turnos of listaMisTurnos">
        <td>{{turnos.estado}}</td>
        <td>{{turnos.nombreEspecialista}}</td>
        <td>{{turnos.fecha}}</td>
        <td>{{turnos.horario}}</td>
        <td>
          <button *ngIf="(turnos.comentarios && turnos.comentarios != '' && turnos.comentarios != undefined)" 
                  (click)="verComentarios(turnos.comentarios)" data-bs-toggle="modal" data-bs-target="#modalResena" class="btn btn-warning" type="submit">Reseña</button>
          <button *ngIf="turnos.estado == 'Realizado'" class="btn btn-outline-success" type="submit">Calificar</button>
          <button *ngIf="turnos.estado == 'Realizado'" class="btn btn-outline-info" type="submit">Encuesta</button>
          <button *ngIf="turnos.estado != 'Realizado'" class="btn btn-outline-danger" type="submit">Cancelar</button>
        </td>
      </tr>
    </tbody>
</table>

<div class="modal fade" id="modalResena" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
   
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Comentarios del turno:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row"> 
            <div class="mb-3">
              <p>
                {{comentariosTurno}}
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    
  </div>
</div>