<div class="container">
    <select id="selEspecialidad" class="form-select" (change)="buscoEspecialista()" aria-label="Default select example">
        <option selected>Seleccione una especialidad</option>
        <option *ngFor="let espe of listaEspecialidades; let i = index" value="{{espe.especialidad}}" [attr.data-index]="i">{{espe.especialidad}}</option>
    </select>
    <br>
    <select id="selEspecialista" class="form-select" (change)="habilitoAlgo()" aria-label="Default select example">
        <option selected>Seleccione un especialista</option>
        <option  *ngFor="let espe of listaEspecialistas; let i = index" value="{{espe.id}}" [attr.data-index]="i">{{espe.especialidad}}</option>
    </select>

    <div *ngIf="listoSelects" class="horarios">
        <app-tabla-horarios [listoSelects]="listoSelects" [datito1]="datito1" [datito2]="datito2" [datito3]="datito3"></app-tabla-horarios>
    </div>
</div>