<div class="container">
    <input type="search" class="form-control" placeholder="Search..." aria-label="Search" >
    <app-tabla-turnos-paciente [filtroMisTurnos]='filtroMisTurnos'></app-tabla-turnos-paciente>
    <button data-bs-toggle="modal" data-bs-target="#modalHistoriaClinica" class="btn btn-warning" (click)="getClinicalHistory()">Historial Clínico</button>
</div>


<div class="modal fade" id="modalHistoriaClinica" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Historia Clínica:</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div *ngIf="existData" class="modal-body">
                <div class="row" *ngFor="let historia of arrayHistoriaClinica"> 
                    <div class="mb-3">
                        <p>
                            Fecha: {{historia.fechaCreacion.seconds * 1000 | date}}
                        </p>
                        <p>
                        Turno: {{historia.idTurno}}
                        </p>
                        <p>
                            Altura: {{historia.altura}}
                        </p>
                        <p>
                            IMC: {{historia.imc}}
                        </p>
                        <p>
                            Fuma: {{historia.fuma}}
                        </p>
                        <p>
                            Temperatura: {{historia.temperatura}}
                        </p>
                        <p>
                            Peso: {{historia.peso}}
                        </p>
                    </div>
                    <hr>
                </div>
            </div>

            <div *ngIf="!existData">
                No existen registros
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
