<table *ngIf="listoSelects" class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha</th>
        <th scope="col">Hora</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let horarios of datito3; let i = index">
        <td>{{horarios.disponibilidad.fecha}}</td>
        <td>{{horarios.disponibilidad.fecha}}</td>
        <td>{{horarios.disponibilidad.horario}}</td>
        <td>
          <button id="btnTurno{{i}}" *ngIf="!tomoTurno" class="btn btn-success" (click)="aceptarTurno(horarios.disponibilidad.fecha,horarios.disponibilidad.horario, i)" type="submit">Tomar Turno</button>
          
        </td>
      </tr>
    </tbody>
</table>