<div *ngIf="!user" class="container">
    <header  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a>
      
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary" routerLink='home'>Home</a></li>
        <!--li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">About</a></li-->
      </ul>

      <div class="col-md-3 text-end">
        <div class="dropdown">
          <button type="button" class="btn btn-outline-primary me-2" *ngIf="!user" routerLink='login'>Login</button>
          <button type="button" class="btn btn-primary me-2" *ngIf="!user" routerLink='regis'>Register</button>
          <!--button class="btn btn-primary dropdown-toggle" *ngIf="!user" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
            Register
          </button-->
          <!--button type="button" class="btn btn-outline-primary me-2" *ngIf="user" (click)="logout()">Logout</button-->
          <!--ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><button class="dropdown-item" type="button" routerLink='register/paciente'>Paciente</button></li>
            <li><button class="dropdown-item" type="button" routerLink='register/especialista'>Especialista</button></li>
          </ul-->
        </div>
      </div>
    </header>
</div>
<div *ngIf="user" class="container">
  <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a class="nav-link px-2 link-secondary" routerLink='home'>Home</a></li>
          <li><a class="nav-link px-2 link-dark" *ngIf="(esPaciente == 'N' && esAdmin == 'N')"routerLink='/acceso/misturnos-especialista'>Mis turnos</a></li>
          <li><a class="nav-link px-2 link-dark" *ngIf="(esPaciente == 'N' && esAdmin == 'N')"routerLink='/acceso/pacientes'>Pacientes</a></li>
          <li><a class="nav-link px-2 link-dark" *ngIf="(esPaciente == 'S')" routerLink='/acceso/misturnos-paciente'>Mis turnos</a></li>
          <li><a class="nav-link px-2 link-dark" *ngIf="(esAdmin == 'S')" routerLink='/acceso/turnos'>Turnos</a></li>
          <li><a class="nav-link px-2 link-dark" *ngIf="(esPaciente == 'S' || esAdmin == 'S')" routerLink='/acceso/solicitar'>Solicitar Turno</a></li>
          <li><a class="nav-link px-2 link-dark" *ngIf="esAdmin == 'S'" routerLink='usuarios'>Usuarios</a></li>
        </ul>

        <div class="dropdown text-end">
          <a class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{dataUserPhotoProfile}}" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" routerLink='/acceso/miperfil'>Mi perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</div>